/* 导航栏 */
.nav-ul {
    /* 使用固定定位 */
    position: fixed;
    top: 300px;
    left: 150px;
    border-radius: 40px;
    /* 设置盒子阴影 */
    box-shadow:  5px 5px 5px 5px #ccc;
}
.nav-ul li {
    display: block;
    width: 100px;
    height: 50px;
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
    line-height: 50px;
}

.nav-ul a {
    color: #88a5ac;
}
.nav-ul a:hover {
    /* 设置鼠标经过动画 */
    transition: all .2s ease-in;
    color: #000;
    font-size: 30px;
}
/* 主体内容 */
.main h3 {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 32px;
    /* 取消加粗 */
    font-weight: 400;
    border-bottom: 2px dashed #ccc;
}
.loc {
    margin-bottom: 90px;
}
.nav-item {
    border-radius: 80px;
    background-color: #dce3e2;
}
.nav-item li {
    float: left;
}
.nav-item img {
    border-radius: 70px;
    margin: 3px;
}
.tit-l,
.tit-r {
    font-size: 20px;
    height: 200px;
    line-height: 200px;
    margin: 0 10px;
}