@font-face {
    font-family: 'iconfont';
    src: url('./iconfont.eot');
    src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont.woff2') format('woff2'),
        url('./iconfont.woff') format('woff'),
        url('./iconfont.ttf') format('truetype'),
        url('./iconfont.svg#iconfont') format('svg');
  }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e72f";
}

.icon-youxiang:before {
  content: "\e687";
}

.icon-lvyou:before {
  content: "\e614";
}

.icon-liuyanzhi:before {
  content: "\e61d";
}

.icon-yinle:before {
  content: "\e629";
}

.icon-xuexiao:before {
  content: "\e60d";
}

.icon-food:before {
  content: "\e613";
}

.icon-dianying:before {
  content: "\e60a";
}

.icon-liuyanmoban:before {
  content: "\e64b";
}

.icon-maomi:before {
  content: "\e602";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60e";
}

.icon-yinle1:before {
  content: "\e69a";
}

.icon-xuexiao1:before {
  content: "\e643";
}

.icon-ziyuan:before {
  content: "\e640";
}

.icon-yinle2:before {
  content: "\e60f";
}

